<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ModelGranja -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="granja.presentation.GranjaModelWizardID"
            name="%_UI_GranjaModelWizard_label"
            class="granja.presentation.GranjaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GranjaModelFile.gif">
         <description>%_UI_GranjaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ModelGranja -->
      <editor
            id="granja.presentation.GranjaEditorID"
            name="%_UI_GranjaEditor_label"
            icon="icons/full/obj16/GranjaModelFile.gif"
            extensions="granja"
            class="granja.presentation.GranjaEditor"
            contributorClass="granja.presentation.GranjaActionBarContributor">
      </editor>
   </extension>

</plugin>
